.menu {
	height: var(--menu-height);
	justify-content: center;
	align-items: stretch;
	border-top: 0.0625rem solid var(--divider-color);
	font-size: 0.8em;
}

.menu .container {
	overflow: hidden;
}

.menu .item {
	--menu-item-color: var(--menu-item-default-color);
	
	width: var(--menu-item-width);
	padding: 0.3125rem 0.4rem 0 0.4rem;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	color: var(--menu-item-color);
}

.menu .item:first-child {
	padding-left: 0;
}

.menu .item:last-child {
	padding-right: 0;
}

.menu .item.active {
	--menu-item-color: var(--menu-item-active-color);
	border-bottom-color: var(--menu-item-color);
}

.menu .item .image-container {
	width: calc(var(--menu-height) - var(--menu-label-height) - 0.3125rem);
	margin: 0 auto;
}

.menu .item img,
.menu .item svg {
	max-height: 100%;
}

.menu .item .label {
	text-align: center;
	line-height: var(--menu-label-height);
}

.menu a {
	display: contents;
}
