@import 'menu.css';

:root {
	--header-height: 8vh;
	--scrollbar-size: 16px;
	/* Temporarily hide scrollbar space */
	--scrollbar-size: 0px;
	--menu-height: 12vh;
	--content-height: calc(100vh - var(--menu-height) - var(--scrollbar-size));
	--menu-item-width: 5.4rem;
	--menu-label-height: 1.1rem;
	--menu-item-default-color: #5D5D5D;
	--menu-item-active-color: #2196f3;
	
	--divider-color: #B3B3B3;
}

html,
input {
	font-family: "Roboto", Helvetica, "Times New Roman", monospace;
	/*font-size: 16px;*/
	font-size: 2.6vh;
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

h1,
h2 {
	margin: 0;
	padding: 0.47em 0;
	text-align: center;
}

hr {
	border: none;
	height: 1px;
	background: #C3C3C3;
}

.header {
	height: var(--header-height);
	background: #2196F3;
	font-size: 1.25em;
}

#weather {
	position: fixed;
	width: var(--header-height);
	height: var(--header-height);
	margin-left: 1.4vw;
	overflow: hidden;
}

#weather img {
	position: absolute;
	display: block;
	height: var(--header-height);
	transition: top 1s;
}

#time {
	color: #FFF;
	text-align: center;
/*	font-family: "Roboto Mono", Helvetica, "Times New Roman", monospace;*/
	font: 500 1.25em "Roboto Mono";
	line-height: var(--header-height);
	overflow: hidden;
}

#time .seconds {
	color: rgba(255, 255, 255, 0.75);
	/* Calculate header font-size */
	font-size: 0.645161290em;
}

.content {
/*	height: var(--content-height);*/
	flex: 1;
	display: flex;
	overflow: auto;
}

.container {
	overflow: auto;
}

.container.flow {
	flex: 1;
}

.container.flex-row,
.container.allow-center {
	display: flex;
	flex-direction: row;
}

.container.flex-column {
	display: flex;
	flex-direction: column;
}

a {
	color: #000 !important;
}
