@import 'header.css';
@import 'menu.css';

:root {
	--header-height: 8vh;
	
	--menu-height: 12vh;
	--menu-item-width: 7.4rem;
	--menu-label-height: 1.1rem;
	--menu-item-default-color: #5D5D5D;
	--menu-item-active-color: #2196f3;
	
	--divider-color: #B3B3B3;
}

html,
input {
	font-family: "Roboto", Helvetica, "Times New Roman", monospace;
	/*font-size: 16px;*/
	font-size: 2.6vh;
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

h1,
h2 {
	margin: 0;
	padding: 0.47em 0;
	text-align: center;
}

hr {
	border: none;
	height: 1px;
	background: #C3C3C3;
}

.content {
	flex: 1;
	display: flex;
	overflow: auto;
}

.container {
	overflow: auto;
}

.container.flow {
	flex: 1;
}

.container.flex-row,
.container.allow-center {
	display: flex;
	flex-direction: row;
}

.container.flex-column {
	display: flex;
	flex-direction: column;
}

a {
	color: #000 !important;
	text-decoration: none !important;
}
